.cartPage{
    margin: 80px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 20px;
    padding: 20px;
}
.container{
    display: flex;
    gap: 25px;
    width: 80%;
    flex-direction: column;
}
.noItemsText{
    padding: 200px;
}