.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.totalAmount{
    width: 100%;
    border-top: solid 5px rgba($color: #000000, $alpha: 0.3);
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0.3);
    margin: 50px 0 20px 0;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.totalAmount span{
    margin: 20px;
}