.btn{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px rgba($color: gray, $alpha: 0);
    box-sizing: border-box;
    cursor: pointer;

    &:hover{
        border: solid 1px rgba($color: gray, $alpha: 1);
    }

    &:active{
        border: solid 1px rgba($color: gray, $alpha: 0.5);
    }
}
